

                        <div class="row row-space">
                            <div class="col-2">

                                <div class="input-group">
                                    <label class="label">Branch</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="branch_select" name="branchId">
                                            <!-- <option disabled="disabled" selected="selected">Choose branch</option> -->
                                            
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-2">

                                <div class="input-group">
                                    <label class="label">title</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="title_select" name="title">
                                            <option disabled="disabled" selected="selected">Choose title</option>
                                            <option value="Mr" >Mr</option>
                                            <option value="Mrs" >Mrs</option>
                                            <option value="Miss" >Miss</option>
                                            <option value="Pastor" >Pastor</option>
                                            <option value="Deacon" >Deacon</option>
                                            <option value="Deaconess" >Deaconess</option>
                                            <option value="Doctor" >Doctor</option>
                                            
                                            
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>


                        

                        
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="fname">
                                </div>

                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">middle name</label>
                                    <input class="input--style-4" type="text" name="mname">
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="lname">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday (DD/MM)</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                 

                        <div class="row row-space">
                            <div class="col-2">

                                <div class="input-group">
                                    <label class="label">age group</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="age_select" name="age">
                                            <option disabled="disabled" selected="selected">Choose age group</option>
                                            <option value="r1" >less than 12</option>
                                            <option value="r2" >12 - 17</option>
                                            <option value="r3" >18 - 24</option>
                                            <option value="r4" >25 - 44</option>
                                            <option value="r5" >45 - 64</option>
                                            <option value="r6" >greater than 65</option>
                                            
                                            
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input value="male" type="radio" checked="checked" name="sex">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input value="female" type="radio" name="sex">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>