<!DOCTYPE html>
<html lang="en">
    <head>

        
    <title>Registration - KICC</title>

    <%- include('../partials/head')-%>

    </head>

<body>
    <input id="mid" type="hidden" value="<%= id %>" >
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 id="title"
                    class="title"></h2>
                    <!-- <form action="http://localhost:8080/api/members"  id="form" method="POST"> -->

                        <div class="row row-space">
                            <div class="col-2 p-t-15">
                                <a style="text-decoration: none;" class="btn btn--radius-2 btn--blue" href="/sregister?member=<%= id %>">Register spouse</a>
                            
                            </div>
                            <div class="col-2 p-t-15">
                                <a style="text-decoration: none;" class="btn btn--radius-2 btn--blue" href="">Register child</a>
                            </div>
                        </div>

                        <!-- <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue p-t-15" type="submit">Register Spouse</button>
                            <button class="btn btn--radius-2 btn--blue p-t-15" type="submit">Register child</button>
                        </div> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>

  
    <%- include('../partials/foot')-%>
    
  <script src="js/confirm.js"></script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->